<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Graph Builder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <div id="wrapper">
        <body>
            <h1>Graph Builder</h1>
        </br>
        <!-- edge adding -->
        <form action="/addedge" method="GET" id="add_edge">
            <select id="node_label1" name="label1" form="add_edge">
                {% for i in nodes %}
                    <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
                <select id="node_label2" name="label2" form="add_edge">
                    {% for i in nodes %}
                        <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>
                    <button type="submit" id="submit">Add Edge</button>
                </form>

        <!-- infection setting -->
        <form action="/toggleinfection" method="GET" id="toggle_infection">
            <select id="node_label" name="label" form="toggle_infection">
                {% for i in nodes %}
                    <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
                    <button type="submit" id="submit">Toggle Infection</button>
                </form>

                <img src="{{filepath}}">

            </body>
        </div>
        <!--end wrapper-->
    </html>